:root {
    --gray-color: rgb(167, 167, 167);
    --size_font_small: 10px;
    --main_color: #39324E;
}

.footer {
    position: relative;
    background-color: #333;
    color: var(--gray-color);
    font-size: var(--size_font_small);
    box-sizing: border-box;
    text-align: center;
    padding-top: 20px;
    padding-left: 260px;
    padding-right: 260px;
    padding-bottom: 20px;
    background: var(--main_color);
    border-radius: 5px;
    grid-area: footer;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 100%;
    grid-template-areas: "footer-box-1 footer-box-2 footer-box-3";
}


.footer hr {
    width: 150px;
}

.footer-list {
    display: block;
    text-align: center;
    padding: 0;
    /* Убираем внутренний отступ у списка */
    line-height: 0.8;
}

.footer-box-1 {
    grid-area: footer-box-1;
}

.footer-box-1 p {
    text-align: start;
    line-height: 1.5;
}

.footer-box-2 {
    grid-area: footer-box-2;


}


.footer-box-2 li a {
    list-style: none;
    color: var(--gray-color);
}

.footer-box-3 {
    grid-area: footer-box-3;

}

.footer-box-3 p {
    text-align: center;
    line-height: 1.5;
}

@media (max-width:1450px) {

    .footer {
        padding-left: 160px;
        padding-right: 160px;
    }
}
@media (max-width:1140px) {

    .footer {
        padding-left: 80px;
        padding-right: 80px;
    }
}
@media (max-width:1000px) {
    .footer{
        font-size: 8px;
    }
    
}

@media (max-width: 768px) {
    .footer {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 1fr);
      grid-template-areas:
        "footer-box-1 footer-box-2"
        "footer-box-3 footer-box-3";
    }
  }
  @media (max-width: 425px) {
    .footer {
      grid-template-columns: 100%;
      grid-template-rows: repeat(3, 1fr);
      grid-template-areas:
        "footer-box-1"
        "footer-box-2"
        "footer-box-3";
    }
  }